<h1>This is my favorite <%= pokemon.name %></h1>
<h2>It is <%= pokemon.height %> feet tall.</h2>
<h2>Its type is <%= pokemon.types[0].type.name %>.</h2>
<h2>It weighs <%= pokemon.weight %> lbs.</h2>
<h2>Its hp stat is <%= pokemon.stats[0].base_stat %></h2>