
<div class="details">
  <h1 class="title">Learn More About <%= pokemon.name %></h1>
  <p> Weight: <%= pokemon.weight%></p>
  <p> Height: <%= pokemon.height %>  </p>
  <p> Species: <%= pokemon.species.name %></p>
  <p>Forms:
  <% pokemon.forms.forEach((form) => { %>
    <p><%= form.name %></p>
  <% }) %>
  </p>
  <p>Check it out:</p>
  <img class="pokepic" src = "<%= pokemon.sprites.front_shiny %>" class="img-fluid" alt="Responsive image">
  <img class="pokepic" src = "<%= pokemon.sprites.back_shiny %>" class="img-fluid" alt="Responsive image">
  <form method="POST" action="/pokemon/<%= pokemon.name%>/?_method=DELETE">
    <input class="btn btn-primary" type="submit" value="Delete">
  </form>
</div>


