<h1 class="text-center">Your Pokemon Favorites</h1>

<div class="row nav">
   <div class="col-sm-4 col-sm-offset-4 text-center">
      <a class="btn btn-primary fav-button" href="/">All Pokemon</a>
   </div>
</div>

<div class="container">
   <% itemList.forEach(function(poke) { %>
     <div class="row well center-block">

          <div class="col-sm-4 col-xs-12">
             <span class="poke-name"><%= poke.name; %></span>
             <img class="pull-right" src="<%= poke.imageurl; %>">
             <div class="info-text">Base Exp: <%= poke.baseexp %></div>
          </div>
          <div class="col-sm-4 col-sm-offset-4 col-xs-12 text-center">
             <a class="btn btn-primary info-button" href="/pokemon/<%= poke.id;%>">Info</a>

             <a class="btn btn-danger delete-button" href="/pokemon/<%=poke.id;%>">Remove Pokemon</a>

          </div>
     </div>
   <% }); %>
</div>
