<div>
	<h1 class="text-center"> Check out this Mon</h1>
	<p class ="text-center">
		<a href="/" class="btn btn-info">home</a>
		<a href="/pokemon" class="btn btn-primary">Favorite</a>
	</p>
<br>
	<div class="pokemonStats text-center">
		<img src="<%= pokemon.sprites.front_default %>" height="200">
		<h1><%= favorite.name%></h1>
		<h2>Weight: <%= pokemon.weight%>lbs</h2>
		<h2>Id: <%= pokemon.id%></h2>
		<h2>Base Experience: <%= pokemon.base_experience %></h2>
		

		

	</div>	
</div>