<!DOCTYPE html>
<%- include ../partials/header.ejs %>

	<h1>Your Pokémon</h1>
<div class="row">
	<% pokemon.forEach(function(pokemon) { %>
	<div class="col s12 m12 l12">
	    <div class="well">
	      <h2><a href='/pokemon/<%= pokemon.name %>'><%= pokemon.name %></a></h2>
	      <img src='<%= pokemon.image %>'>
	      <p><%= pokemon.description %></p>
	      <button class="delete-pokemon" type="button" action="/pokemon/<%= pokemon.name %>">Remove From Favorites</button>
	    </div>
	</div>
	<% }); %>
</div>
<%- include ../partials/footer.ejs %>
