<h1>You have landed on the favorites page!</h1>

<% pokemon.forEach(function(pokemon) { %>
<h2><a href="./pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></h2>
<a href="./pokemon/<%= pokemon.name %>"><img src="<%= pokemon.sprite %>"></a>
<a href="/pokemon/<%= pokemon.name %>" class="btn btn-primary">More Details</a>
<a href="/pokemon/<%= pokemon.name %>" class="delete btn btn-primary">Remove Pokemon </a>
<% }); %>