<h1>Favorites</h1>

<% pokemon.forEach(function(pokemon) { %>
	<div class="row">
	    <div class="col s12 m4">
	      <div class="card">
	        <div class="card-content">
	          <span class="card-title"><a href="./pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></span>
	         <a href="./pokemon/<%= pokemon.name %>"><img src="<%= pokemon.sprite %>"></a>
	        </div>
	        <div class="card-action">
	          <a href="/pokemon/<%= pokemon.name %>" class="waves-effect waves-light btn">More Details</a>
	          <a href="/pokemon/<%= pokemon.name %>" class=" delete waves-effect waves-light btn">Remove Pokemon </a>
	        </div>
	      </div>
	    </div>
	</div>
<% }); %>