
<img src="<%= results.sprites.front_default %>">

<br>

<label>Name</label>
<ul>
	<li><%= results.name %></li>
</ul>

<label>Pokemon ID</label>
<ul>
	<li><%= results.id %></li>
</ul>


<label>Weight & Height</label>
<ul>
	<li> <%= results.weight %> & <%= results.height %></li>
</ul>
<label>Base Experience</label>
<ul>
	<li> <%= results.base_experience %> </li>
</ul>

<label>Abilities</label>
 <% results.abilities.forEach(function(pokemon) { %>
    <ul>
      <li><%= pokemon.ability.name %></li>
    </ul>
<% }) %>

<label>Types</label>
 <% results.types.forEach(function(pokemon) { %>
	<ul>
		<li> <%= pokemon.type.name %> </li>
	</ul>
<% }) %>

<label>Items</label>
 <% results.held_items.forEach(function(pokemon) { %>
	<ul>
		<li> <%= pokemon.item.name %> </li>
	</ul>
<% }) %>