<div class="container">
  <h1><%= pokemon.name %></h1>

  <img src="<%= pokemon.sprites.front_default %>" />

  <h2>Types:</h2>
    <ul>
      <% pokemon.types.forEach( (type) => { %>
        <li><%= type.type.name %></li>
      <% }); %>
    </ul>

    <h2>Abilities:</h2>
    <ul>
      <% pokemon.abilities.forEach( (ability) => { %>
        <li><%= ability.ability.name %></li>
      <% }); %>
    </ul>

    <h2>Stats:</h2>
    <ul>
      <% pokemon.stats.forEach( (stat) => { %>
        <li><%= stat.stat.name %>: <%= stat.base_stat %></li>
      <% }); %>
    </ul>



</div>
