<main>
    <h3 class="a">
        <img class="detail-sprite" src="<%= pokeData.sprites.versions["generation-viii"].icons.front_default %>"/>
        #<%= pokeData.id %> <%= pokeData.name %>
    </h3>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Picture
                </td>
            </tr>
            <tr>
                <td>
                    <img class="detail-img" src="<%= pokeData.sprites.other["official-artwork"].front_default %>"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Height
                </td>
                <td class="data-text">
                    Weight
                </td>
                <td class="data-text">
                    Type
                </td> 
            </tr>
            <tr>
                <td>
                    <%= pokeData.height/10 %>m
                </td>
                <td>
                    <p>
                        <%= pokeData.weight/10 %>kg
                    </p>
                    <p>
                        <%= pokeData.weight*.2205 %>lbs
                    </p>
                </td>
                <td>
                    <% pokeData.types.forEach((e) =>{ %>
                        <p class="a">
                            <%= e.type.name %>
                        </p>
                    <% }) %>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="data-table">
        <tbody>
            <td class="data-text" colspan="<%= pokeData.abilities.length %>">
                Abilities
            </td>
            <tr>
                <% pokeData.abilities.forEach((e) => { %>
                    <td class="a">
                        <%= e.ability.name %>
                    </td>
                <% }) %>
            </tr>
        </tbody>
    </table>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="<%= pokeData.stats.length %>">
                    Stats
                </td>
            </tr>
            <tr>
                <td class="data-text">HP</td>
                <td class="data-text">Attack</td>
                <td class="data-text">Defense</td>
                <td class="data-text">Sp. Attack</td>
                <td class="data-text">Sp. Defense</td>
                <td class="data-text">Speed</td>
            </tr>
            <tr>
                <% pokeData.stats.forEach((e) => { %>
                    <td>
                        <%= e.base_stat %>
                    </td>
                <% }) %>
            </tr>
        </tbody>
    </table>
    <div class="main-content">
<ul>
        <table>
            <tr>
                <th>Stats</th>
                <td>HP</td>
                <td>Attack</td>
                <td>Defense</td>
                <td>Sp. Attack</td>
                <td>Sp. Defense</td>
                <td>Speed</td>
            </tr>
            <tr>
                <td>Base Points</td>
                <% pokeData.stats.forEach((e) => {%>
                    <td>
                        <%= e.base_stat %>
                    </td>
                <% }) %>
            </tr>
            <tr>
                <td>EVs</td>
                <% pokeData.stats.forEach((e) => {%>
                    <td>
                        <%= e.effort %>
                    </td>
                <% }) %>
            </tr>
        </table>
    <li>
        Sprites: 
        <ul>
            <li>
                <p>Red/Blue</p>
                <img src="<%= pokeData.sprites.versions["generation-i"]["red-blue"].front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-i"]["red-blue"].back_default %>"/>
            </li>
            <li>
                <p>Yellow</p>
                <img src="<%= pokeData.sprites.versions["generation-i"].yellow.front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-i"].yellow.back_default %>"/>
            </li>
            <li>
                <p>Gold/Silver/Crystal</p>
                <img src="<%= pokeData.sprites.versions["generation-ii"].gold.front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-ii"].gold.back_default %>"/>
            </li>
            <li>
                <p>Ruby/Sapphire/Emerald</p>
                <img src="<%= pokeData.sprites.versions["generation-iii"]["ruby-sapphire"].front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-iii"]["ruby-sapphire"].back_default %>"/>
            </li>
            <li>
                <p>FireRed/LeafGreen</p>
                <img src="<%= pokeData.sprites.versions["generation-iii"]["firered-leafgreen"].front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-iii"]["firered-leafgreen"].back_default %>"/>
            </li>
            <li>
                <p>Diamond/Pearl</p>
                <img src="<%= pokeData.sprites.versions["generation-iv"]["diamond-pearl"].front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-iv"]["diamond-pearl"].back_default %>"/>
            </li>
            <li>
                <p>HeartGold/SoulSilver</p>
                <img src="<%= pokeData.sprites.versions["generation-iv"]["heartgold-soulsilver"].front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-iv"]["heartgold-soulsilver"].back_default %>"/>
            </li>
            <li>
                <p>Black/White</p>
                <img src="<%= pokeData.sprites.versions["generation-v"]["black-white"].animated.front_default %>"/>
                <img src="<%= pokeData.sprites.versions["generation-v"]["black-white"].animated.back_default %>"/>
            </li>
        </ul>
    </li>
    <li>
        Moves: <% pokeData.moves.forEach((e) => { %>
            <ul>
                <li><%= e.move.name%></li>
            </ul>
        <% }) %>
    </li>
</ul>
</div>
</main>