<main>
    <h3 class="a">
        <img class="detail-sprite" src="<%= pokeDataOne.sprites.versions["generation-viii"].icons.front_default %>"/>
        #<%= pokeDataOne.id %> <%= pokeDataOne.name %>
    </h3>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Picture
                </td>
            </tr>
            <tr>
                <td>
                    <img class="detail-img" src="<%= pokeDataOne.sprites.other["official-artwork"].front_default %>"/>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Name
                </td>
                <td class="data-text">
                    Other Names
                </td>
                <td class="data-text">
                    No.
                </td>
                <td class="data-text">
                    Classification
                </td>
            </tr>
            <tr>
                <td class="a">
                    <%= pokeDataTwo.name %>
                </td>
                <td>
                    <p>Japanese: <%= pokeDataTwo.names[0].name %></p>
                    <p>Korean: <%= pokeDataTwo.names[2].name %></p>
                    <p>Chinese: <%= pokeDataTwo.names[3].name %></p>
                </td>
                <td>
                    <p>National: <%= pokeDataTwo.pokedex_numbers[0].entry_number %></p>
                    <p>Johto: <%= pokeDataTwo.pokedex_numbers[2].entry_number %></p>
                    <p>Hoenn: <%= pokeDataTwo.pokedex_numbers[3].entry_number %></p>
                </td>
                <td>
                    <%= pokeDataTwo.genera[7].genus %>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Height
                </td>
                <td class="data-text">
                    Weight
                </td>
                <td class="data-text">
                    Type
                </td> 
            </tr>
            <tr>
                <td>
                    <p>
                        <%= pokeDataOne.height/10 %>m
                    </p>
                    <p>
                        <%= pokeDataOne.height*.328 %>ft
                    </p>
                </td>
                <td>
                    <p>
                        <%= pokeDataOne.weight/10 %>kg
                    </p>
                    <p>
                        <%= pokeDataOne.weight*.2205 %>lbs
                    </p>
                </td>
                <td>
                    <% pokeDataOne.types.forEach((e) =>{ %>
                        <p class="a">
                            <%= e.type.name %>
                        </p>
                    <% }) %>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <td class="data-text" colspan="<%= pokeDataOne.abilities.length %>">
                Abilities
            </td>
            <tr>
                <% pokeDataOne.abilities.forEach((e) => { %>
                    <td class="a">
                        <%= e.ability.name %>
                    </td>
                <% }) %>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="4">
                    Flavor Text
                </td>
            </tr>
            <tr>
                <td id="red">
                    Red
                </td>
                <td id="blue">
                    Blue
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[1].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="yellow" colspan="2">
                    Yellow
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[3].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="gold">
                    Gold
                </td>
                <td id="silver">
                    Silver
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[4].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="ruby" colspan="2">
                    Ruby
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[7].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="sapphire" colspan="2">
                    Sapphire
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[8].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="black">
                    Black
                </td>
                <td id="white">
                    White
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[20].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="sun" colspan="2">
                    Sun
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[61].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="moon" colspan="2">
                    Moon
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[71].flavor_text %>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="<%= pokeDataOne.stats.length %>">
                    Stats
                </td>
            </tr>
            <tr>
                <td class="data-text">HP</td>
                <td class="data-text">Attack</td>
                <td class="data-text">Defense</td>
                <td class="data-text">Sp. Attack</td>
                <td class="data-text">Sp. Defense</td>
                <td class="data-text">Speed</td>
            </tr>
            <tr>
                <% pokeDataOne.stats.forEach((e) => { %>
                    <td>
                        <%= e.base_stat %>
                    </td>
                <% }) %>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="3">
                    Sprites
                </td>
            </tr>
            <tr>
                <td class="data-text">
                    R/S/E
                </td>
                <td class="data-text">
                    FR/LG
                </td>
                <td class="data-text">
                    D/P
                </td>
            </tr>
            <tr>
                <td>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["ruby-sapphire"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["ruby-sapphire"].back_default %>"/>
                </td>
                <td>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["firered-leafgreen"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["firered-leafgreen"].back_default %>"/>
                </td>
                <td>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["diamond-pearl"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["diamond-pearl"].back_default %>"/>
                </td>
            </tr>
            <tr class="data-text">
                <td class="data-text">
                    HG/SS
                </td>
                <td class="data-text">
                    B/W

                </td>
            </tr>
            <tr>
                <td>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["heartgold-soulsilver"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["heartgold-soulsilver"].back_default %>"/>
                </td>
                <td>
                    <img src="<%= pokeDataOne.sprites.versions["generation-v"]["black-white"].animated.front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-v"]["black-white"].animated.back_default %>"/>
                </td>
            </tr>
        </tbody>
    </table>
</main>