<div class="container">
    <h3><%= name %></h3>
    <img src="<%= image %>" alt="<%= name %>">
    <ul>
        <li>Height: <%= parseFloat(height/3.048).toFixed(1) %> ft</li>
        <li>Weight: <%= parseFloat(weight/4.536).toFixed(1) %> lbs</li>
        <li>Abilities:</li>
        <ul>
            <% abilities.forEach(ability => { %>
                <li><%= ability.ability.name %></li>
            <% }) %>
        </ul>
    </ul>

    <form method="POST" action="/pokemon/<%= name %>/?_method=DELETE">
        <input type="submit" value="Remove From Favorites">
    </form>
</div>