
<%- include ../partials/header.ejs %>


<!-- <div class=" show row"> -->
        <div class="show col s3 m6 l12">
          <div class="card yellow darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= pokemon.name %></span>
              <img class='responsive-img sprite' src='<%= pokemon.sprites.front_default %>'>
               <div class='row'>
                <div class='types col s12 m4 l4'>
                  <h4>Types: </h4>
                  <ul>
                  <% pokemon.types.forEach(function(pokemon) { %>
                     <li class='<%= pokemon.type.name %>'><%= pokemon.type.name %></li>
                  <% }) %>
                  </ul>
                </div>

                <div class='moves col s12 m4 l4'>
                  <h4>Moves: </h4>
                  <ul>
                  <% pokemon.moves.forEach(function(pokemon) { %>
                     <li class='<%= pokemon.move.name %>'><%= pokemon.move.name %></li>
                  <% }) %>
                  </ul>
                </div>

                 <div class='stats col s12 m4 l4'>
                  <h4>Base Stats: </h4>
                  <ul>
                  <% pokemon.stats.forEach(function(pokemon) { %>
                     <li class='<%= pokemon.base_stat %>'><%= pokemon.stat.name %> : <%= pokemon.base_stat %></li>
                  <% }) %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- </div> -->

<%- include ../partials/footer.ejs %>
