<div class="container">
    <div class="row justify-content-center">
        <div class="card col-auto" id="title-card">
            <h2><%= pokemon %></h2>
            <img src="<%= pokeData.sprites.front_default %>" alt="Image of <%= pokemon %>" class="card-img">
        </div>
    </div>
    <div class="accordion" id="pokeInfo"></div>
        <div class="row justify-content-around align-content-start">
            <div class="card col-lg-7 col-sm-auto justify-self-center" style="width: 18rem;">
                <div class="card-title text-content-center" id="typeCard">
                    <h4 class="mb-0">
                        <button class="title-btn btn collapsed" type="button" data-toggle="collapse" data-target="#typeList" aria-expanded="true" aria-controls="typeList">
                            Type
                        </button>
                    </h4>
                    <hr>
                </div>

                <div id="typeList" class="collapse" aria-labelledby="typeCard" data-parent="#pokeInfo">
                     <div class="card-body">
                    <% pokeData.types.forEach((type)=>{ %>
                        <p><%= type.type.name %></p>
                    <% }) %>
                     </div>
                </div>
            </div>

            <div class="card col-lg-7 col-sm-auto justify-self-center" style="width: 18rem;">
                <div class="card-title text-content-center" id="abilitiesCard">
                    <h4 class="mb-0">
                        <button class="title-btn btn collapsed" type="button" data-toggle="collapse" data-target="#abilitiesList" aria-expanded="true" aria-controls="abilitiesList">
                            Abilities
                        </button>
                    </h4>
                    <hr>
                </div>

                <div id="abilitiesList" class="collapse" aria-labelledby="abilitiesCard" data-parent="#pokeInfo">
                    <div class="card-body">
                    <% pokeData.abilities.forEach((ability)=>{ %>
                        <div class="card-text">
                            <p><%= ability.ability.name %></p>
                        </div>
                    <% }) %>
                    </div>
                </div> 
            </div>

            <div class="card col-lg-7 col-sm-auto justify-self-center" style="width: 18rem;">
                <div class="card-title text-content-center" id="statsCard">
                    <h4 class="mb-0">
                        <button class="title-btn btn collapsed" type="button" data-toggle="collapse" data-target="#statList" aria-expanded="true" aria-controls="statList">
                            Stats
                        </button>
                    </h4>
                    <hr>
                </div>

                <div id="statList" class="collapse" aria-labelledby="statsCard" data-parent="#pokeInfo">
                    <div class="card-body">
                        <% pokeData.stats.forEach((stat)=>{ %>
                            <div class="card-text">
                                <p class="text"><strong><%= stat.stat.name %>:</strong></p>
                                <p>Base: <%= stat.base_stat %></p>
                            </div>
                        <% }) %>
                    </div>
                </div> 
            </div>

            <div class="card col-lg-7 col-sm-auto justify-self-center" style="width: 18rem;">
                <div class="card-title text-content-center" id="movesCard">
                    <h4 class="mb-0">
                        <button class="title-btn btn collapsed" type="button" data-toggle="collapse" data-target="#movesList" aria-expanded="true" aria-controls="movesList">
                            Moves
                        </button>
                    </h4>
                    <hr>
                </div>

                <div id="movesList" class="collapse" aria-labelledby="movesCard" data-parent="#pokeInfo">
                    <div class="card-body">
                    <% pokeData.moves.forEach((move)=>{ %>
                        <% move.version_group_details.forEach((version)=>{ %>
                            <% if(version.level_learned_at == 0 && version.version_group.name == "red-blue") { %>
                        <div class="card-text">
                                <p><%= move.move.name %></p>
                        </div>
                            <% } %>
                        <% }) %>
                    <% }) %>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

