<div>
    <img src="<%= pokeData.sprites.front_default %>" alt="Image of <%= pokemon %>">
    <div>
        <h2><%= pokemon %></h2>
        <div class="card col-sm-4">
            <h4 class="card-title">Stats</h4>
            <% pokeData.stats.forEach((stat)=>{ %>
                <p class="card-text"><strong><%= stat.stat.name %></strong></p>
                <p class="card-text">Base: <%= stat.base_stat %></p>
            <% }) %>
        </div>
        <div>
            <h4 class="card-title">Type</h4>
            <% pokeData.types.forEach((type)=>{ %>
                <p class="card-text"><%= type.type.name %></p>
            <% }) %>
        </div>
    </div>
</div>