<div class="container">
    <h1 class="text-center">The Original 151 Pokemon</h1>
    <p class="text-center">
      <a href="/pokemon">Favorites</a>
  

<div class="well"></div>
<ul> 
   <img src='<%= response.sprites.front_default %>'>
   <img src='<%= response.sprites.front_shiny %>'>
    <h1> <%= response.name %> stats:</h1> 
    <h2>type: <% response.types.forEach((type) => { %>
      <%=  type.type.name %>,
    <% }) %></h2>
    <h2>abilities: <% response.abilities.forEach((ability) => { %>
        <%= ability.ability.name %>,
      <% }) %></h2>
</ul>
</div>
