<a class="btn btn-success" href="/">Back to Pokemon</a>
<a class="btn btn-success" href="/pokemon">Back to Favorites</a>
<h2 class="text-center">More About...</h2>


<h1 id="poke-name">
	<%= JSON.stringify(results.forms[0].name).split('"').join('') %>
</h1>

<div id="accordion">
	<h2 class="section">Abilities:</h2>
	<div>
		<ul class="list">
			<% for(var i = 0; i < results.abilities.length; i++) { %>
				<li>
				<%=JSON.stringify(results.abilities[i].ability.name).split('"').join('') %>
				</li>
			<% } %>
		</ul>
	</div>

	<h2 class="section">Stats:</h2>
	<div>
		<ul class="list">
			<% for(var i = 0; i < results.stats.length; i++) { %>
				<li>
				<%=JSON.stringify(results.stats[i].stat.name).split('"').join('') %> : <%= JSON.stringify(results.stats[i].base_stat) %>
				</li>
			<% } %>
		</ul>
	</div>

	<h2 class="section">Moves (First Ten):</h2>
	<div>
		<ul class="list">
			<% for(var i = 0; i < 10; i++) { %>
				<li>
				<%=JSON.stringify(results.moves[i].move.name).split('"').join('') %>
				</li>
			<% } %>
		</ul>
	</div>
</div>