<div class="text-center">
 
  <h1>All about <%=details.name%> </h1>
  
  <p>
    #<%=details.id%> in the original Pokedex
  </p>
  
  <p> 
    Ability: <%=details.abilities[0].ability.name%>
  </p>
  
  <p> 
    Type: <%=details.types[0].type.name%>
  </p>
  
  <img src ='<%=details.sprites.front_default%>' />
  
</div>