<div class="container">
    <h1 class="text-center">Pokemon Details</h1>
    <img src="<%= src%>" />
    <h3><%=pokemon.id%> </h3>
    <h4><%=pokemon.specie%></h4>
    <h4><%=pokemon.ability%></h4>
    <h4><%=pokemon.stat%></h4>
    <p class="text-center">
      <a href= '/'>Home Page</a>
    </p>
</div>

