<main>
    <h3 class="a">
        <img class="detail-sprite" src="<%= pokeDataOne.sprites.versions["generation-viii"].icons.front_default %>"/>
        #<%= pokeDataOne.id %> <%= pokeDataOne.name %>
    </h3>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Picture
                </td>
            </tr>
            <tr>
                <td>
                    <img class="detail-img" src="<%= pokeDataOne.sprites.other["official-artwork"].front_default %>"/>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Name
                </td>
                <td class="data-text">
                    Other Names
                </td>
                <td class="data-text">
                    No.
                </td>
                <td class="data-text">
                    Classification
                </td>
            </tr>
            <tr>
                <td class="a">
                    <%= pokeDataTwo.name %>
                </td>
                <td>
                    <p>Japanese: <%= pokeDataTwo.names[0].name %></p>
                    <p>Korean: <%= pokeDataTwo.names[2].name %></p>
                    <p>Chinese: <%= pokeDataTwo.names[3].name %></p>
                </td>
                <td>
                    <p>National: <%= pokeDataTwo.pokedex_numbers[0].entry_number %></p>
                    <p>Johto: <%= pokeDataTwo.pokedex_numbers[2].entry_number %></p>
                    <p>Hoenn: <%= pokeDataTwo.pokedex_numbers[3].entry_number %></p>
                </td>
                <td>
                    <%= pokeDataTwo.genera[7].genus %>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Height
                </td>
                <td class="data-text">
                    Weight
                </td>
                <td class="data-text">
                    Type
                </td> 
                <td class="data-text">
                    Growth Rate
                </td>
                <td class="data-text">
                    Habitat
                </td>
            </tr>
            <tr>
                <td>
                    <%= pokeDataOne.height/10 %>m
                </td>
                <td>
                    <%= pokeDataOne.weight/10 %>kg
                </td>
                <td>
                    <% pokeDataOne.types.forEach((e) =>{ %>
                        <img class="type-img" src="https://www.serebii.net/attackdex-bw/type/<%= e.type.name %>.gif"/>
                    <% }) %>
                </td>
                <td class="a">
                    <%= pokeDataTwo.growth_rate.name %>
                </td>
                <td class="a">
                    <%= pokeDataTwo.habitat.name %>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Abilities
                </td>
                <td class="data-text">
                    Egg Group
                </td>
                <td class="data-text">
                    Base Happiness
                </td>
                <td class="data-text">
                    Capture Rate
                </td>
            </tr>
            <tr>
                <td class="a">
                    <% pokeDataOne.abilities.forEach((e) => { %>
                        <p><%= e.ability.name %></p>
                    <% }) %>
                </td>
                <td class="a">
                    <% pokeDataTwo.egg_groups.forEach((e) => { %>
                        <p><%= e.name %></p>
                    <% }) %>
                </td>
                <td class="a">
                        <%= pokeDataTwo.base_happiness %>/255
                </td>
                <td class="a">
                        <%= pokeDataTwo.capture_rate %>/255
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="4">
                    Flavor Text
                </td>
            </tr>
            <tr>
                <td id="red" class="bold">
                    Red
                </td>
                <td id="blue" class="bold">
                    Blue
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[1].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="yellow" class="bold" colspan="2">
                    Yellow
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[3].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="gold" class="bold">
                    Gold
                </td>
                <td id="silver" class="bold">
                    Silver
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[4].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="ruby"  class="bold" colspan="2">
                    Ruby
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[7].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="sapphire"  class="bold" colspan="2">
                    Sapphire
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[8].flavor_text %>
                </td>
            </tr>
            <tr>
                <td id="black" class="bold">
                    Black
                </td>
                <td id="white" class="bold">
                    White
                </td>
                <td colspan="2">
                    <%= pokeDataTwo.flavor_text_entries[20].flavor_text %>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="<%= pokeDataOne.stats.length + 1%>">
                    Stats
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="data-text">HP</td>
                <td class="data-text">Attack</td>
                <td class="data-text">Defense</td>
                <td class="data-text">Sp. Attack</td>
                <td class="data-text">Sp. Defense</td>
                <td class="data-text">Speed</td>
            </tr>
            <tr>
                <td id="stat-total">
                    Base Stats - Total: 
                </td>
                <% pokeDataOne.stats.forEach((e) => { %>
                    <td>
                        <%= e.base_stat %>
                    </td>
                <% }) %>
            </tr>
            <tr>
                <td>EVs</td>
                <% pokeDataOne.stats.forEach((e) => { %>
                    <td>
                        <%= e.effort %>
                    </td>
                <% }) %>
            </tr>
        </tbody>
    </table>

    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="6">
                    Sprites
                </td>
            </tr>
            <tr>
                <td class="data-text" id="ruby">
                    R
                </td>
                <td class="data-text" id="sapphire">
                    S
                </td>
                <td class="data-text" id="firered">
                    FR
                </td>
                <td class="data-text" id="leafgreen">
                    LG
                </td>
                <td class="data-text" id="diamond">
                    D
                </td>
                <td class="data-text" id="pearl">
                    P
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["ruby-sapphire"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["ruby-sapphire"].back_default %>"/>
                </td>
                <td colspan="2">
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["firered-leafgreen"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iii"]["firered-leafgreen"].back_default %>"/>
                </td>
                <td colspan="2">
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["diamond-pearl"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["diamond-pearl"].back_default %>"/>
                </td>
            </tr>
            <tr class="data-text">
                <td class="data-text" id="gold">
                    HG
                </td>
                <td class="data-text" id="silver">
                    SS
                </td>
                <td class="data-text" id="black">
                    B
                </td>
                <td class="data-text" id="white">
                    W
                </td>
                <td class="data-text" colspan="2" id="shiny">
                    Shiny
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["heartgold-soulsilver"].front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-iv"]["heartgold-soulsilver"].back_default %>"/>
                </td>
                <td colspan="2">
                    <img src="<%= pokeDataOne.sprites.versions["generation-v"]["black-white"].animated.front_default %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-v"]["black-white"].animated.back_default %>"/>
                </td>
                <td colspan="2">
                    <img src="<%= pokeDataOne.sprites.versions["generation-v"]["black-white"].animated.front_shiny %>"/>
                    <img src="<%= pokeDataOne.sprites.versions["generation-v"]["black-white"].animated.back_shiny %>"/>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<script>
    let statArray = []
    <% pokeDataOne.stats.forEach((e) => { %>
      statArray.push(<%= e.base_stat %>)
    <% }) %>
    const reducer = (accumulator, currentValue) => accumulator + currentValue
    const statTotal = statArray.reduce(reducer)

    document.querySelector("#stat-total").innerText = 
    document.querySelector("#stat-total").innerText + " " + statTotal

</script>