
<div class="view-pokemon">
  <h1><%= pokemon.name %></h1>
  <h4><%= pokemon.types[0].type.name %> type</h4>
  <img src="<%= pokemon.sprites.front_default %>" width="100" height="100">

 
    <br>
  
    <div id='pokeabilities'>
    Abilities
     <% for (let i = 0; i < pokemon.abilities.length; i++) { %>
      <p><%= pokemon.abilities[i].ability.name %></p>
     <% } %>
      
    </div>

  <h4 class="show-heading">Base Stats</h4>

  <% let stats = pokemon.stats[0] %>
  <ul id="base-stats">
  <% pokemon.stats.forEach(s => { %>
      <li><%= s.stat.name.toUpperCase() %>: <%= s.base_stat %></li>
  <% }) %>
  </ul>
</div>
