<a href="<%= back ? back : '/pokemon' %>">Go Back</a>

<h4>Detailed look at:</h4>

<div class="card detail-card">
<h1 class="capitalize poke-title"><%= pokemon.species.name %></h1>

<div class="card">
<h2>Type</h2>
<% pokemon.types.forEach(type => { %>
  <div>
    <h4 class="capitalize"><%= type.type.name %></h4> 
  </div>
<% }) %>
</div>

<div class="card">
<h2>Abilites</h2>
<% pokemon.abilities.forEach(ability => { %>
  <div>
    <h4 class="capitalize"><%= ability.ability.name %></h4> 
  </div>
<% }) %>
</div>

<div class="card">
<h2>Stats</h2>
<table class="highlight">
<thead>
  <tr>
      <th>Name</th>
      <th>Base Stat</th>
  </tr>
</thead>
<tbody>
  <% pokemon.stats.forEach(stat => { %>
  <tr>
      <td class="capitalize"><%= stat.stat.name %></td> 
      <td><%= stat.base_stat %></td> 
  </tr>
  <% }) %>
</tbody>
</table>
</div>

</div>