<main>
    <h3 class="a">
        <img class="detail-sprite" src="<%= pokeData.sprites.versions["generation-viii"].icons.front_default %>"/>
        #<%= pokeData.id %> <%= pokeData.name %>
    </h3>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Picture
                </td>
            </tr>
            <tr>
                <td>
                    <img class="detail-img" src="<%= pokeData.sprites.other["official-artwork"].front_default %>"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Height
                </td>
                <td class="data-text">
                    Weight
                </td>
                <td class="data-text">
                    Type
                </td> 
            </tr>
            <tr>
                <td>
                    <p>
                        <%= pokeData.height/10 %>m
                    </p>
                    <p>
                        <%= pokeData.height*.328 %>ft
                    </p>
                </td>
                <td>
                    <p>
                        <%= pokeData.weight/10 %>kg
                    </p>
                    <p>
                        <%= pokeData.weight*.2205 %>lbs
                    </p>
                </td>
                <td>
                    <% pokeData.types.forEach((e) =>{ %>
                        <p class="a">
                            <%= e.type.name %>
                        </p>
                    <% }) %>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="data-table">
        <tbody>
            <td class="data-text" colspan="<%= pokeData.abilities.length %>">
                Abilities
            </td>
            <tr>
                <% pokeData.abilities.forEach((e) => { %>
                    <td class="a">
                        <%= e.ability.name %>
                    </td>
                <% }) %>
            </tr>
        </tbody>
    </table>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="<%= pokeData.stats.length %>">
                    Stats
                </td>
            </tr>
            <tr>
                <td class="data-text">HP</td>
                <td class="data-text">Attack</td>
                <td class="data-text">Defense</td>
                <td class="data-text">Sp. Attack</td>
                <td class="data-text">Sp. Defense</td>
                <td class="data-text">Speed</td>
            </tr>
            <tr>
                <% pokeData.stats.forEach((e) => { %>
                    <td>
                        <%= e.base_stat %>
                    </td>
                <% }) %>
            </tr>
        </tbody>
    </table>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text" colspan="3">
                    Sprites
                </td>
            </tr>
            <tr>
                <td class="data-text">
                    R/S/E
                </td>
                <td class="data-text">
                    FR/LG
                </td>
                <td class="data-text">
                    D/P
                </td>
            </tr>
            <tr>
                <td>
                    <img src="<%= pokeData.sprites.versions["generation-iii"]["ruby-sapphire"].front_default %>"/>
                    <img src="<%= pokeData.sprites.versions["generation-iii"]["ruby-sapphire"].back_default %>"/>
                </td>
                <td>
                    <img src="<%= pokeData.sprites.versions["generation-iii"]["firered-leafgreen"].front_default %>"/>
                    <img src="<%= pokeData.sprites.versions["generation-iii"]["firered-leafgreen"].back_default %>"/>
                </td>
                <td>
                    <img src="<%= pokeData.sprites.versions["generation-iv"]["diamond-pearl"].front_default %>"/>
                    <img src="<%= pokeData.sprites.versions["generation-iv"]["diamond-pearl"].back_default %>"/>
                </td>
            </tr>
            <tr class="data-text">
                <td class="data-text">
                    HG/SS
                </td>
                <td class="data-text">
                    B/W

                </td>
            </tr>
            <tr>
                <td>
                    <img src="<%= pokeData.sprites.versions["generation-iv"]["heartgold-soulsilver"].front_default %>"/>
                    <img src="<%= pokeData.sprites.versions["generation-iv"]["heartgold-soulsilver"].back_default %>"/>
                </td>
                <td>
                    <img src="<%= pokeData.sprites.versions["generation-v"]["black-white"].animated.front_default %>"/>
                    <img src="<%= pokeData.sprites.versions["generation-v"]["black-white"].animated.back_default %>"/>
                </td>
            </tr>
        </tbody>
    </table>
</main>