<h4> <%= pokemon.name %></h4>

<p> weight: <%= pokemon.weight %></p>
<p> height: <%= pokemon.height %> </p>
<p> <img src= "<%= pokemon.sprites.front_shiny%>"> </p>
<p> <img src= "<%= pokemon.sprites.back_shiny%>"> </p>