<div class="container">
  <h1><%= helper.capitalize(name) %></h1>
  <p><a href="/">All Pokemon</a></p>
  <p><a href="/pokemon">Favorites</a></p>
  <img src="<%= imgUrl %>" alt="<%= name %> sprite" />

  <ul>
    <li><strong>Height:</strong> <%= height %></li>
    <li><strong>Weight:</strong> <%= weight %></li>
    <li>
      <strong>Stats:</strong>
      <ul>
        <% stats.forEach(stat => { %>
        <li><strong><%= stat.name %>:</strong> <%= stat.amount %></li>
        <% }) %>
      </ul>
    </li>
  </ul>
</div>
