<div class="container">
   <h1><%= pokeData.name %></h1>
   <img src="<%= pokeData.sprites.front_default %>" alt="pokemon"> 
   <h3>#<%= pokeData.id %></h3>
   <p>weigth: <%= pokeData.weight %></p>
   <p>height: <%= pokeData.height %></p>
   <p>Type: <% pokeData.types.forEach(type => { %>
   <br> <%= type.type.name %>
   <% }) %>
</div>
