<div class="text">
    <h2><%= pokemon.name %> #<%= pokemon.id %><h2>
  </div>
  <img class="pokepic starter" src="<%= pokemon.sprites.back_default %>" >
  <img class="pokepic" src="<%= pokemon.sprites.front_default %>" >
  <img class="pokepic" src="<%= pokemon.sprites.back_shiny %>" >
  <img class="pokepic" src="<%= pokemon.sprites.front_shiny %>" >
  <div class="text">
    <h3>Height: <%= parseInt(pokemon.height)/10 %> m</h3>
    <h3>Weight: <%= parseInt(pokemon.weight)/10 %> kg</h3>
    <h3>
      Also known as <%= species.names[3].name %> in German, <%= species.names[4].name %> in French,
      and <%= species.names[8].name %> (<%= species.names[7].name %>) in Japanese.
    </h3>
</div>
