<div class="container">
  <h1 class="card-title"><%= name %></h1>

  <img src="<%= sprite %>" />

  <h2>Types:</h2>
  <ul class="list-group">
    <% types.forEach( (type) => { %>
      <li class="list-group-item"><%= type.type.name %></li>
    <% }); %>
  </ul>

  <h2>Abilities:</h2>
  <ul class="list-group">
    <% abilities.forEach( (ability) => { %>
      <li class="list-group-item"><%= ability.ability.name %></li>
    <% }); %>
  </ul>

  <h2>Stats:</h2>
  <ul class="list-group">
    <% stats.forEach( (stat) => { %>
      <li class="list-group-item"><%= stat.stat.name %>: <strong><%= stat.base_stat %></strong></li>
    <% }); %>
  </ul>
</div>
