<div class="container">
    <div class="list-entry-ind">
        <h3><%= name %></h3>
        <img src="<%= image %>" alt="<%= name %>">
        <p>Height: <%= parseFloat(height/3.048).toFixed(1) %> ft</p>
        <p>Weight: <%= parseFloat(weight/4.536).toFixed(1) %> lbs</p>
        <p>Abilities: 
            <% abilities.forEach(ability => { %>
                <%= ability.ability.name %>,
            <% }) %>
        <form method="POST" action="/pokemon/<%= name %>/?_method=DELETE">
            <input class="btn" type="submit" value="Remove From Favorites">
        </form>
    </div>
</div>