<div class="row">
  <div class="col-xs-6 pokedex-red">
    <div class="leds">
      <div class="big-led left"></div>
      <div class="led red left"></div>
      <div class="led yellow left"></div>
      <div class="led green left"></div>
    </div>
    <div class="screen">

      <div class="text">
        <h2><%= pokemon.name %> #<%= pokemon.id %><h2>
      </div>
      <img src="<%= pokemon.sprites.back_default %>" >
      <img src="<%= pokemon.sprites.front_default %>" >
      <img src="<%= pokemon.sprites.back_shiny %>" >
      <img src="<%= pokemon.sprites.front_shiny %>" >
      <div class="text">
        <h3>Height: 1.1m</h3>
        <h3>Weight: 32.0kg</h3>
        <h3>Desc: Butterfree (Japanese: バタフリー Butterfree) is a dual-type Bug/Flying Pokémon introduced in Generation I.
It evolves from Metapod starting at level 10. It is the final form of Caterpie.</h3>
      </div>


    </div>
  </div>
  <div class="col-xs-6 pokedex-dark-red text-center">
    <div class="small-screen">
      <h3>
        Desc: Butterfree (Japanese: バタフリー Butterfree) is a dual-type Bug/Flying Pokémon introduced in Generation I.
        It evolves from Metapod starting at level 10. It is the final form of Caterpie.
      </h3>
    </div>
    <div class="button-grid">
      <button class="button-blue"></button>
      <button class="button-blue"></button>
      <button class="button-blue"></button>
      <button class="button-blue"></button>
      <button class="button-blue"></button>
      <br>
      <button class="button-blue"></button>
      <button class="button-blue"></button>
      <button class="button-blue"></button>
      <button class="button-blue"></button>
      <button class="button-blue"></button>
    </div>
    <br>
    <br>
    <div class="button-grid">
      <button class="button-blue"></button>
      <button class="button-blue"></button>
    </div>


  </div>
</div>
