<img id="ball" src= "https://res.cloudinary.com/kelseygreen/image/upload/v1534657435/pokeball.png">

<div id="pokeEntry">
	<h4> <%= pokemon.name %></h4>

	<p> weight: <%= pokemon.weight %></p>
	<p> height: <%= pokemon.height %> </p>
	<div id='sprite-holder'>
		<p class='sprite'> <img src= "<%= pokemon.sprites.front_default%>"> </p>
		<p class='sprite'> <img src= "<%= pokemon.sprites.back_default%>"> </p>
	</div>

<a class="waves-effect waves-light btn" href="/"> Back to Main Page</a>
<a class="waves-effect waves-light btn" href="/pokemon"> Back to My Pokedex</a>
</div>