<h1><%= helper.capitalize(name) %></h1>
<img src="<%= imgUrl %>" alt="<%= name %> sprite" />

<ul>
  <li>Height: <%= height %></li>
  <li>Weight: <%= weight %></li>
  <li>
    Stats:
    <ul>
      <% stats.forEach(stat => { %>
      <li><%= stat.name %>: <%= stat.amount %></li>
      <% }) %>
    </ul>
  </li>
</ul>
