<div class="container">
    <img src='<%= response.data.sprites.front_default %>'>
    <h3> <%= response.data.name %> </h3><br />
    TYPES: <% response.data.types.forEach(type => { %>
        <p> <%= type.type.name %> </p>
    <% }) %>
    HEIGHT: <%= response.data.height %> <br />
    WEIGHT: <%= response.data.weight %> <br />
    ABILITIES: <% response.data.abilities.forEach(ability => { %>
        <p> <%= ability.ability.name %> </p>
    <% }) %> 
</div> 