<div class="text">
    <h2><%= pokemon.name %> #<%= pokemon.id %><h2>
  </div>
  <img src="<%= pokemon.sprites.back_default %>" >
  <img src="<%= pokemon.sprites.front_default %>" >
  <img src="<%= pokemon.sprites.back_shiny %>" >
  <img src="<%= pokemon.sprites.front_shiny %>" >
  <div class="text">
    <h3>Height: <%= parseInt(pokemon.height)/10 %> m</h3>
    <h3>Weight: <%= parseInt(pokemon.weight)/10 %> kg</h3>
    <h3>
      Desc: <%= species.flavor_text_entries[1].flavor_text %>
    </h3>
</div>
