<h1 class="block-header">Your Pokémon</h1>

<% pokemon.forEach(p => { %>
  <div class="card detail-card caught-card">
    <a name="caught<%= p.id %>" class="offset-link"></a>
    <h3 class="poke-title"><%= p.nickname %></h3>
    <h4>Lvl <%= p.level %> <span class="capitalize"><%= p.species %></span></h4>

    <form method="GET" action="/caught/<%= p.id %>">
      <input type="hidden" name="back" id="back" value="/caught/#caught<%= p.id %>">
      <button class="waves-effect waves-light btn red darken-1 pokecard-btn details-btn" type="submit"><img src="/img/details.png" class="button-icon"></button>
    </form>

  </div>
<% }) %>