<h1><%= pokemon.nickname %></h1>
<h2>Level: <%= pokemon.level %> </h2>
<h2>Species: <%= pokemon.species %> </h2>
<a href="/pokemon/<%= pokemon.species %>">Learn more about this species</a>
<a href="/caught/edit/<%= pokemon.id %>"><button>Edit</button></a>