<a href="<%= back ? back : '/caught' %>">Go Back</a>

<div class="card detail-card caught-show-card">

<h1><%= pokemon.nickname %></h1>
<h2>Level: <%= pokemon.level %></h2>
<h2>Species: <span class="capitalize"><%= pokemon.species %></span></h2>
<h2>Caught on: <%= pokemon.createdAt %></h2> 

<div class="spaced-button">
  <form method="GET" action="/pokemon/<%= pokemon.species %>">
    <input type="hidden" name="back" id="back" value="/caught/<%= pokemon.id %>">
    <button class="waves-effect waves-light btn red darken-1 pokecard-btn info-btn" type="submit"><img src="/img/info.png" class="button-icon"></button>
  </form>
</div>

<div class="spaced-button">
  <form method="GET" action="/caught/edit/<%= pokemon.id %>">
    <input type="hidden" name="back" id="back" value="/caught/<%= pokemon.id %>">
    <button href="/caught/edit/<%= pokemon.id %>" class="waves-effect waves-light btn red darken-1 pokecard-btn edit-btn"><img src="/img/edit.png" class="button-icon"></button>
  </form>
</div>


</div>