<h1>Details about:<%=pokemon.name %>
        <img src="<%= pokemon.sprites.front_shiny%>">
</h1>
<p>
    <%=pokemon.name %>
</p>
<p>
    Weighs: <%=pokemon.weight %>
</p>
<p>
    The first move that <%=pokemon.name%> learns is: <%=pokemon.moves[0].move.name %>
</p>
<p>
    Is <%= pokemon.height %> feet tall.
</p>