<div class="container">
    <h1><%= pokemon.name %></h1>

    <img src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
    
    <p>height: <%= pokemon.height %></p>
    
    <p>weight: <%= pokemon.weight %></p>
    
    <p>ability: <%= pokemon.abilities[0].ability.name %></p>
    
    <p>base xp: <%= pokemon.base_experience %></p>
    
</div>