<div class="container">
   <div id="headlien">
      <h1 class="text-center red">Details about <%=pokemon.name %></h1>
   </div>
   <p class="text-center">
     <a href="/" class="btn red">Pokedex</a>
     <a href="/pokemon/favorites" class="btn red">Favorites</a>
<% let pokeweight = pokemon.weight / 10 %>

 <div class="row">
   <div class="col s4 m4 l4" ></div>
   <div class="col s4 m4 l4" >
     <div class="card " id='halp'>
       <div class="card-image">
         <img src="<%= pokemon.sprites.front_default%>">
         <span class="card-title"></span><%=pokemon.name %></span>
         <p> Weight: <%= pokeweight %> kg</p>
         <p> Type:
            <% pokemon.types.forEach((type) => { %>
               <%= type.type.name %>
            <% }) %>
         </p>
      </div>
       </div>
     </div>
   </div>
 </div>