<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon</title>
</head>
<body>
<link href="css/css.ejs" rel="stylesheet" type="text/css">
<ul>
   <h1>Pokemon Details</h1>
    <p><%= pokemon.name %></p> 
  <img src="<%= pokemon.sprites.front_default %>">
    <p>Height: <%= pokemon.height %></p>
    <p> Weight:<%= pokemon.weight %></p>
</ul>
    
<li> Abilities:<%= pokemon.abilities[0].name %></li>
    
</body>
</html> 
 

 