<h2>More about <%= pokemon.name%></h2>

<ul class="list-group">
	<li class="list-item">weight: <%= pokemon.weight%></li>
	<li class="list-item">height: <%= pokemon.height%></li>
	<li class="list-item">base_experience: <%= pokemon.base_experience%></li>
	<img src="<%=pokemon.sprites.front_default%>" alt="picture here">
</ul>
<a href="/">All Pokemon</a>
</br>
<a href="/pokemon">Favorites</a>
