<h1>detail page heres your info on <%=name%>
  <br /> 
  who weighs <%=weight%>
  <br /> 
  has id of <%=id%>  
  <br />
  and has types <%=types[0].type.name%> and <%=types[1].type.name%>
  <br />
  and looks like: <img src="<%=spriteN%>" alt="<%=name%>">
</h1>