<h1><%= pokemon.name %> Details</h1>
<img src="<%= pokemon.sprites.front_default %>" height="150" width="150">
<h2> Abilities </h2>
<% pokemon.abilities.forEach(function(ability){ %>
  <p><%= ability.ability.name %></p>
<% }) %>

<h2>Types</h2>
<% pokemon.types.forEach(function(i){ %>
  <p> Type: <%= i.type.name %></p>
<% }) %>

<h2>Stats</h2>
<p> Weight: <%= pokemon.weight %></p>
<p> Height: <%= pokemon.height %></p>

<% pokemon.stats.forEach(function(stat){ %>
 <p> <%= stat.stat.name %>: <%= stat.base_stat %></p>
<% }) %>
