<h2><%= pokemon.name%></h2>

<ul class="list-group">
	<li class="list-group-item">weight: <%= pokemon.weight%></li>
	<li class="list-group-item">height: <%= pokemon.height%></li>
	<li class="list-group-item">base_experience: <%= pokemon.base_experience%></li>
	<img src="<%=pokemon.sprites.back_default%>" alt="picture here">
</ul>