<h2><%= pokemon.name%></h2>

<ul>
	<li>weight: <%= pokemon.weight%></li>
	<li>height: <%= pokemon.height%></li>
	<li>base_experience: <%= pokemon.base_experience%></li>
	<img src="<%=pokemon.sprites.back_default%>" alt="picture here">
</ul>