<h1>
    <a href="/pokemon/<%= name %>">
        <%= name %>
    </a>
</h1>
<h3>HEIGHT:
    <%= height %>
</h3>
<h3>WEIGHT:
    <%= weight %>
</h3>
<h3>ID:
    <%= id %>
</h3>
<img src="<%= image %>" alt="pokemon character">
