<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon</title>
</head>
<body>

<ul>
   <h3>Pokemon Details</h3>
    <p><%= pokemon.name %></p> 
  <img src="<%= pokemon.sprites.front_default %>">
    <p>Height: <%= pokemon.height %></p>
    <p> Weight:<%= pokemon.weight %></p>
</ul>
<p>Abilities:</p>
<ul>
 <% pokemon.abilities.forEach(function(ability, i){ %>
<li><%= pokemon.abilities[i].ability.name %></li>
   <% })  %>
   </ul>
</body>
</html> 
 

 