<p class="text-center">
    <a href="/pokemon">Back</a>
  </p>

<h1 class="text-center"><%= data.name %></h1>

<img src="<%= data.sprites.other["official-artwork"].front_default%>" alt="<%= data.name %>">

<div class="basic-info text-center">
    <h4>
        Weight: <%= data.weight %>
        Height: <%= data.height %>
    </h4>
</div>

<h2 class="text-center"><%= data.abilities[0].ability.name %></h2>

<h2 class="text-center"><%= data.moves[0].move.name %></h2>

