<%- include('./partials/header.ejs') %>
<main class="min-vh-100" style="background-image:url('<%=pokemon.img_url%>')">
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
<h1 class="text-center py-5 text-danger floater"><%=pokemon.name.toUpperCase()%></h1>
</main>
<%- include('./partials/footer.ejs') %>