<h1>Introducing: <%=character.forms[0].name%>!</h1>
<p>Sprites: <img src="<%=character.sprites.front_shiny%>"></p>

<p>Abilities: <%=character.abilities[0].ability.name%> and <%=character.abilities[1].ability.name%></p>

<p>Height: <%=character.height%></p>
<p>Weight: <%=character.weight%></p>

<p>Species: <%=character.species.name%></p>


<a href="/pokemon">Back</a>
