<!-- showing items
name
id
image (sprites.front_default)
weight
height
abillity(array.name)
type(array.type.name) -->
<div class="title">
    <h1><%= pokemon.name %></h1>
</div>
<div class="imgbox">
    <img src="<%= pokemon.sprites.front_default %>">
</div>

<div class="favbox">
    <ul class="favlist">
        <li>Pokémon Id: <%= pokemon.id %></li>
        <li>Height: <%= pokemon.height %></li>
        <li>Weight: <%= pokemon.weight %></li>
        <li>Abilities: <% pokemon.abilities.forEach(ability => { %>
            <ul>
                <li><%= ability.ability.name %></li>
            </ul>
            <% }) %>
        </li>
        <li>Types: <% pokemon.types.forEach(type => { %>
            <ul>
                <li><%= type.type.name %></li>
            </ul>
            <% }) %>
        </li>
    </ul>
</div>