<h1>
    <%= pokemonName %> 
</h1>
<h2>
    <img width="600" src="<%= pokemonImage %> " alt="<%= pokemonName  %>">
</h2>
<h3>
    <%= pokemonBase %>
</h3>
<h4>
    <%= pokemonType %>
</h4>
<p>
    <%= pokemonMoves %>
</p>
