<h1>Deets</h1>

<img alt='sprite' src='<%= pokeInfo.data.sprites.front_default %>'>
<img alt='sprite' src='<%= pokeInfo.data.sprites.front_shiny %>'>

<ul>
    <li>
        <% pokeInfo.data.types.forEach(element => { %>
            <ul>
                <li>
                    <a href='<%= element.type.url %>'><%= element.type.name %></a>
                    <% console.log(element) %>
                </li>
            </ul>
      <%  }) %>
    </li>

    <li>
        <% pokeInfo.data.abilities.forEach(element => { %>
            <ul>
                <li>
                    <a href='<%= element.ability.url %>'><%= element.ability.name %></a>
                    <% console.log(element) %>
                </li>
            </ul>
      <%  }) %>
    </li>
</ul>