<h1>
    <%= name %> 
</h1>

<img src="<%= image %>" alt="<%= name %>">

<h3>
    Height: <%= height %> 
</h3>

<h3>
    Weight: <%= weight %> 
</h3>

<h3>
    Ability: <%= abilities %> 
</h3>

<h3>
    Move: <%= moves %> 
</h3>