<div class="well container">
  <h1 class="text-center">Name: <%=pokemon.name%></h1>
  <h3 class="text-center">Pokedex ID: <%=pokemon.id%></h3>
  <h3 class="text-center">Height: <%=pokemon.height%>cm</h3>
  <h3 class="text-center">Weight: <%=pokemon.weight%>g</h3>
  <p class="text-center">
    <img  src='<%=pokemon.sprites.front_default%>' alt="sprite">
  </p>
</div>

