<head>
    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/194885.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: black;
            height: 100%;
        }
        img {
            height: 150px;
            margin-top: 20px;
        }
      </style>
</head>
<body>
    <a href="/pokemon">Favorites</a>
    <h1>
        <%= name %> 
    </h1>
    
    <img src="<%= image %>" alt="<%= name %>">
    
    <h3>
        Height: <%= height %> 
    </h3>
    
    <h3>
        Weight: <%= weight %> 
    </h3>
    
    <h3>
        Ability: <%= abilities %> 
    </h3>
    
    <h3>
        Move: <%= moves %> 
    </h3>
</body>
