<header>
  <h1>Pokedex Favorate List</h1>
</header>



<main>
  <div id="pokelist">
    <% pokemons.forEach(function(pokemon) {%>
      <div class='pokemondiv'>
        <img class="pokemonbg" src="/img/<%=pokemon.types[0]%>.png" alt="" srcset="">
        <div class="pokename"><%=pokemon.name%>
        <form action="/pokemon/<%=pokemon.id%>/?_method=DELETE" method="POST" class='favbtn'>
          <input class='hidden' type="text" name='backlink' value='/pokemon/fav/<%=pageid%>'>
          <button type="submit" name='name' value=<%=pokemon.name%>>❤️</button>
        </form>
      </div>
        <div class='pokemonlink'>
          <a href="/pokemon/<%=pokemon.id%>">
              <img class='pokemonimg' src="<%=pokemon.img%>" alt="">
          </a>
        </div> 
      </div>
    <%});%>
  </div>


  <div id="pagenums">
    <%let last = pageid==1 ? 1:pageid-1; %>
    <%let next = pageid==Math.ceil(favList.length/20) ? Math.ceil(favList.length/20):pageid+1;%>
    <a href="/pokemon/page/<%=last%>" class="pagenum"><</a>
    <% for (let i=1; i <= Math.ceil(favList.length/20); i++) {%>
      <%if (i != pageid) {%>
        <a href="/pokemon/fav/<%=i%>" class="pagenum"><%=i%></a>
      <%} else {%>
        <a href="/pokemon/fav/<%=i%>" class="pagenum active"><%=i%></a>
      <%}%>
    <%};%>
    <a href="/pokemon/fav/<%=next%>" class="pagenum">></a>
  </div>
</main>

<%- contentFor('css')%>
/css/pokemons.css
<%- contentFor('script')%>
