<h1>Information about your <%= pokemonName %></h1>

<a href="/pokemon">Favorites</a>


<h2>
   <img src="<%= pokemonImg %>" alt=""> 
</h2>
<h4>
    Pokemon Type: <%= pokemonTypes %>
</h4>
<h4>
    Moves: <%= pokemonMove %>
</h4>
<h4>
 Pokemon Abilities: <%= pokemonAbilities %>
</h4>
<h4>
 Pokemon Base Stat: <%= pokemonBaseStat %>
</h4>
