<div class="well">
    <h1>
        <%= pokemonName  %> 
    </h1>
    <h3>
        Pokemon Number: <%= pokemonNum %> 
    </h3>
    <h3>
        Height: <%= pokemonWeight %> 
    </h3>
</div>
<p>
    <img width="600" src="<%= pokemonImage %> " alt="<%= pokemonName  %>">
</p>
