<div class="container">
  
    <% pokemon.forEach(function(pokemon) { %>
      <div class="well">
        <h2><a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></h2>
        <img src='<%= pokemon.nickname %>'>
        <form method="POST" action="/pokemon/delete/<%= pokemon.name %>/?_method=DELETE">
          <input hidden type="text" name="name" value="<%= pokemon.name %>">
          <button class="btn btn-primary" type="submit">Delete From Favorite Pokemon</button>
        </form>
      </div>
    <% }); %>
  </div>

  <form method="GET" action="/">
    <button class="btn btn-primary" type="submit">Return to Pokedex</button>
  </form>