<body style="text-align: center; background-color: teal; color: black; font-family: 'Mochiy Pop P One', sans-serif;">
  <h1><%= name %></h1>
<h3>Height:<%= height %></h3>
<h3>Weight:<%= weight %></h3>
<h3>Base xp:<%= base_experience %></h3>
<h3><img src="<%= sprites %>" alt=""></h3>  
</body>

