<div class="container">
  <h1 class="text-center titles">My Favorite Pokemon</h1>
  <p class="text-center nav-links">
    <a href="/">Home</a>
    <img class="pipe" src="/img/ash1.png" /> &nbsp;
    <span class="links" style="color: #1f4979;"> >> Favorites << </span>
  </p>
  <% pokemon.forEach(pokemon => { %>
  <div class="well">
    <p class="poke-list"><%= pokemon.id %>. <%= pokemon.name %><img class="list-ball" src="/img/pokeball-sm2.png">

<!-- delete form -->
    <form method="POST" action="/pokemon?_method=DELETE">
      <input hidden type="text" name="name" value="<%= pokemon.name %>" />
      <button class="btn" type="submit">Remove <b><%= pokemon.name %></b> From Favorite Pokemon</button>
    </form>

<!-- more info form -->
    <!-- <form method="POST" action="/pokemon">
      <input
        hidden
        type="text"
        name="name"
        value="<%= pokemon.removePokemon %>"
      /> -->
      <!-- <button class="btn" type="submit">
        Get More Details On: <b><%= pokemon.name %></b>
      </button> -->
      <a href="/pokemon/<%= pokemon.name%>">more info</a>
    <!-- </form> -->
    <br>
    <hr>
  </p>
  </div>
  <% }); %>
  <div class="to-top">
    <a href="#top">back to top &#x2191;</a>
  </div>
</div>
