<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-3">
      <a class="navbar-brand text-light" href="/">Home</a>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link text-light" href="/favorites">Your Favorites</a></li>
      </ul>
  </nav>
  <div class="card-deck">
  <% pokemon.forEach(function(pokemon) { %>
    <% pokeID++ %>
    <div class="card bg-light mb-3" style="min-width: 250px;">
      <a href="/pokemon/<%= pokemon.name %>" data-toggle="lightbox" data-max-width="600" class="card-title" >
        <img src="/img/sprites/pokemon/<%= pokeID %>.png" class="card-img-top" alt="<%= pokemon.name %>">
        <div class="card-body">
        <h2><%= pokemon.name %></h2></a>
        <form method="POST" action="/favorites">
          <input type="hidden" name="img" value="/img/sprites/pokemon/<%= pokeID %>.png">
          <input type="hidden" name="name" value="<%= pokemon.name %>">
          <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
        </form>
      </a>     
    </div>
  </div>
  <% }); %>
</div>

<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox({
    alwaysShowClose: true,
  });
});
</script>
