<% pokemon.forEach(function(pokemon) { %>
  <div class="well">
    <div class="poke-header">
      <div>
      <% if (pokemon.isFavorited) { %>
        <img src="/images/pokeball.png" alt="pokeball" class="pokeball-img"/>
      <% } %>
      <h2 class="poke-name"><%= pokemon.name %></h2>
      </div>
      <% if (pokemon.isFavorited) { %>
        <a class="btn btn-primary" href="/favorites/<%= pokemon.name %>">See More</a>
      <% } %>
    </div>
    <% if (!pokemon.isFavorited) { %> 
    <div class="poke-controls">
      <form method="POST" action="/favorites">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
      <a class="btn btn-primary" href="/pokemon/<%= pokemon.name %>">See More</a>
    </div>
    <% } %>
  </div>
<% }); %>
<div class="page-nav">
  <p>Page <%= pageNumber %> of <%= totalPages %></p>
  <form method="GET" action="/">
    <input type="submit" value="Go to " class="btn btn-outline-success my-2 my-sm-0"/>
    <input type="number" name="pageNumber" value="1" min="1" max="<%= totalPages %>" />
  </form>
</div>
