<div class="container">
 
<%
  var dbPokemons =[];
  var imagesUrl = 'https://assets.pokemon.com/assets/cms2/img/pokedex/detail/'

  function getPokemonId(url){
    var result = url.match(/\/\d+/);
    return result[0].slice(1);
  }

//Pad the pokemon id with leading 0s 
function padId(id){
    switch(true){
        case id.length<10:
            return id.padStart(3, "0");
        case id.length>=10:
            return id.padStart(2, "0");
        case id.length >99:
            return id;           
    }  
}  

favPokemons.forEach(function(pokemon){
  dbPokemons.push(pokemon.name);
})


%>


<h1><%=(dbPokemons);%></h1>

<section class="section ">
  <ul>
    
<%pokemons.forEach(function(pokemon){
  var isInFavorites = false;
  %>
  <li class="animate">
    <figure>
      <a href="pokemon/<%=getPokemonId(pokemon.url)%>">
        <img src="<%=imagesUrl + padId(getPokemonId(pokemon.url))%>.png">
      </a>
    </figure>
    <div class="stats-wrapper">
      <div class="favourite">
      
      <% if(dbPokemons.indexOf(pokemon.name) !== -1){
        isInFavorites = true;%>
        <p>In favorites</p>
      <%} else {%>
        <p>Not in favourite</p>
      <%}%>
    </div>
    <div class="info">
      <p id="pokemonId"><%=getPokemonId(pokemon.url);%></p>
      <h4><%=pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1);%></h4>

    </div>
    </div>
    
<form method="POST" action="/pokemon">
  <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <input hidden type="text" name="imgUrl" value="<%=imagesUrl + padId(getPokemonId(pokemon.url))%>.png">
        <input hidden type="text" name="pokemonId" value="<%=getPokemonId(pokemon.url)%>">
        <button <%if(isInFavorites){%>disabled<%}%>  class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
</form>

  </li>

<%});%>

  </ul>

</section>
  


<!-- <div>
  <% pokemons.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%=pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1);%></h2>
      <img src="<%=imagesUrl + padId(getPokemonId(pokemon.url))%>.png">
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <input hidden type="text" name="imgId" value="<%=imagesUrl + padId(getPokemonId(pokemon.url))%>.png%>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>
 -->