<div class="container">
  <a href="/pokemon">My Favorites</a>
  <ul class="nav">        
    <% if(pokemon.previous !== null) {%> 
      <% let prevPage =  pokemon.previous.split('?')[1]%>
      <li><a href="/?<%=prevPage%>">Previous</a></li>
  <%}%>
  <% if(pokemon.next !== null) {%> 
     <% let nextPage = pokemon.next.split('?')[1]%>
     <li><a href="/?<%=nextPage%>">Next</a></li>
  <%}%>    
  </ul>
  <div>
    <% pokemon.results.forEach(function(pokemon) { %>
    <div class="item-list">
      <a href="/<%=pokemon.name%>"><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %></a>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>" />
        <button class="btn btn-primary" type="submit">
          ⭐ Favorite
        </button>
      </form>
    </div>   
    <%})%>     
  </div>
</div>
