<div class="container">

  <% pokemon.forEach(function(pokemon, i) { %>
    <div class="well" class="pokePic" style="background-image: url(<%= pokemon.imageUrl %>), linear-gradient(to right, rgba(0,0,0,0), rgba(216, 235, 199,1));">
      <h2><a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a></h2>

      <img src="<%= pokemon.imageUrl %>">

      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <input hidden type="text" name="imageUrl" value="<%= pokemon.imageUrl %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>
