<div>
  <h3>Pokemon Collector</h3>
  <p>
    <a href="/pokemon">Favorites</a>
  </p>

  <div class="carousel">
    <% pokemon.forEach((poke) => { %>
    <div class="card carousel-item">
      <div class="card-image">
        <img src="<%= poke.sprite %>">
        <button data-target="<%= poke.name %>_modal"
          class="btn-floating halfway-fab waves-effect waves-light green modal-trigger">...</button>
      </div>
      <div class="card-content">
        <span class="card-title">
          <%= poke.name %>
        </span>

        <p>Content</p>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<% pokemon.forEach((poke) => { %>
<div id="<%= poke.name %>_modal" class="modal">
  <div class="modal-content">
    <h4><%= poke.name %></h4>
    <p>Do poke.cards.forEach (c => { c.imageUrl})... to set img src in card </p>

    <form method="POST" action="/pokemon">
      <input type="hidden" name="name" value="<%= poke.name %>">
      <button type="submit">Add to Favorites</button>
    </form>

  </div>
</div>
<% }); %>