<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <!--<h2><%= pokemon.name %></h2>-->
      <ul class="pokemons">
        <ul class="pokemons_item">
          <div class="pokemon">
            <img class="pokemon_sprite" src="http://www.pokestadium.com/sprites/black-white/<%= pokemon.name %>.png"></img>
          </div>
        </ul>
      </ul>
      <h2><%= pokemon.name %></h2>
      <form method="GET" action="/pokemon/<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">View Pokemon Stat</button>
      </form>
      <br>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
      <br>
      <form method="POST" action="/pokemon/?_method=DELETE"> <!-- method override -->
        <input type="hidden" name="name" value="<%= pokemon.name %>">
        <input class="btn btn-primary" type="submit" value="Delete from Favorites">
    </form>
    </div>
  <% }); %>
</div>
