<div class="container my-container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p>
    <form class="text-center" action="/pokemon">
      <button class="btn btn-primary" type="submit">Favorites</button>
    </form>
  </p>

  <% let i = 1 %>
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <img class="home-sprite" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= i %>.png" />
      <img class="home-sprite" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/<%= i %>.png" />
      <h2 class="a">#<%= i %> <%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <input hidden type="integer" name="dexnum" value="<%=i %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% i++ %>
  <% }); %>
</div>
