<div class="container" class="grass">
  <!-- <h1 class="text-center">The Original 151 Pokemon</h1> -->
  <p class="text-center">
    <a href="/pokemon"><img id="pokedex" src="/img/giphy.gif"></a>
  </p>

  <%var counter = 0; %>

  <% pokemon.forEach(function(pokemon) { %>
    <%counter++%>
    <div class="pokeDiv" id="<%=counter%>">
      <a href="/pokemon/<%=pokemon.name%>"><h2><%= pokemon.name%></h2></a>
        <a href="/pokemon/<%=pokemon.name%>"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=counter%>.png"></a>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button type="submit">Add to my Pokedex</button>
      </form>

    </div>
        <% }); %>
</div>
