<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon/favorites">Favorites</a>
  </p>
  <% let i = 1 %>
  <div class="bigbox">
  <% pokemon.forEach(function(pokemon) { %>
 
 
    <div class="card col-sm-3" style="width: 18rem;" id="halp">
      <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= i %>.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= pokemon.name %></h5>
        <p class="card-text"></p>
        <a href="/pokemon/details/<%= i %>">Details</a>
          <form method="POST" action="/pokemon">
          <input hidden type="text" name="name" value="<%= pokemon.name %>">
          <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
        </form>
      </div>
    </div>

    <!-- <div class="well">
      <h2><%= pokemon.name %></h2>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div> -->
    <% i++ %>
  <% }); %>
</div>
</div>
