<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex Origin 151</title>
    <link rel="stylesheet" href=<%-css %>>
  </head>
  <body>
    <aside id='favlist'>
      <h3>My Favorite</h3>
      <ul>
        <%for (let i = 0; i < favList.length; i++) {%>
          <li>
            <a href="/pokemon/<%=favIDList[i]%>">
              <%=favList[i]%>
            </a>
          </li>
        <%}%>
      </ul>
    </aside>
    <%- body %>
    




    <script src=<%-script %>> </script>
  </body>
</html>
