  <h1 class="pokemon-single-title">Build Your Pokédex</h1>
     
     <div class="pokemon-single">
      <img src="<%= pokemon.imagesrc %>" class="pokemon-catchme">
       <h2><%= pokemon.name %></h2>
       <p>"Try again sweaty"</p>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <input hidden type="text" name="pokemonapi_id" value="<%= pokemon.pokemonapi_id %>">
        <input hidden type="text" name="imagesrc" value="<%= pokemon.imagesrc %>">
        <input hidden type="text" name="height" value="<%= pokemon.height %>">
        <input hidden type="text" name="weight" value="<%= pokemon.weight %>">
        <input hidden type="text" name="experience" value="<%= pokemon.experience %>">
        <button class="btn btn-primary" type="submit">Catch</button>
      </form>
    </div>