<div class="well" id="details-container">
	<div id="pokemon-avatar">
		<img class="sprite" src="<%=sprite.front_default%>" alt="pokemon sprite">
	</div>
	<div id="details-text">
		<p><b class="blue">INFO:</b></p>
		<p><b>Name:</b> <%= name %></p>
		<p><b>Height:</b> <%=height%> cm</p>
		<p><b>Weight:</b> <%=weight%> kg</p>
		<br>
		<p><b class="blue">STATS:</b></p>
		    <%for (i = 0; i<stats.length; i++) { %>
		        <p><b><%=stats[i].stat.name%>:</b> <%=stats[i].base_stat;%></p>
		    <%}%>
	</div>
</div>
