
<h1 class='text-center'><%=pokemon.name%></h1>
<div class='well'>
<ul>
<li>Pokemon Id: <%=pokemon.id%></li>
<li id="type">Type: <%=pokemon.types[0].type.name%></li>
<li>Pokemon Height:<%=pokemon.height %>cm</li>
<li>Pokemon Weight:<%=pokemon.weight%></li>
</ul>
</div>
