<div class="container">
          <h1 class="text-center"><%= pokemon.info %></h1>
          <p>
          Name: <%= pokemon.name %>
          </p>

          <p>
          Species: <%= pokemon.species %>
          </p>

          <p>
          Abilities: <%= pokemon.abilities %>
          </p>

          <p>
          Forms: <%= pokemon.forms %>
          </p>

          <p>
          Stats: <%= pokemon.stats %>
          </p>

          <p>
          <a href="<%= "/pokemon/" %>">
          Back to Favorites
        </a>
        </div>
