<div class="text-center">
  <h1><%= pokemon.name %> </h1>
  <h5>Height: <%= pokemon.height %> </h5>
  <h5>Weight: <%= pokemon.weight %> </h5>
  <div><img src="<%= pokemon.sprites.front_default %>"></div>
  <div><img src="<%= pokemon.sprites.back_default %>"></div>
</div>
