<!-- <header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Favorite'd Pokemon</h4>
                    <p class="text-muted">See your collection of favorite'd pokemon here!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Favorites</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header> -->

<main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Favorite Pokemon</h1>
            <p class="lead text-muted">See your favorite'd pokemon here!</p>
            <p>
              <a href="../" class="btn btn-primary my-2">Back to Pokemon</a>
              <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
            </p>
          </div>
        </section>
  
        <div class="album py-5 bg-light">
          <div class="container">
  
            <div class="row">
            <% if (pokemon.length) { %>
                <% pokemon.forEach(p => { %>              
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="<%= p.img %>" alt="pokemon sprite">
                        <div class="card-body">
                            <p class="card-text"><%= p.name %></p>
                            <div class="d-flex justify-content-between align-items-center">
                            <!-- <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div> -->
                            <small class="text-muted"><%= p.name %></small>
                            </div>
                        </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
            </div>
        </div>
    </div>
    </main>
<!-- <div class="container">
    <h1 class="text-center">Favorite Pokemon</h1>
    <p class="text-center">
        <% if (pokemon.length) { %>
            <% pokemon.forEach(p => { %>              
            <div class="well">
                <h2>Name: <%= p.name %></h2>
                <img src="<%= p.img %>" alt="pokemon sprite" style="width:200px;height:auto;">
            </div>
            <% }); %>
        <% } %>
    </p>
</div> -->