<header>
  <h1>Pokedex Origin <%=pokemons[0].id%> ~ <%=pokemons[pokemons.length-1].id%></h1>
</header>



<main>
  <div id="pokelist">
    <% pokemons.forEach(function(pokemon) {%>
      <div class='pokemondiv'>
        <img class="pokemonbg" src="/img/<%=pokemon.types[0]%>.png" alt="" srcset="">
        <div class="pokename"><%=pokemon.name%>
          <%if (favList.includes(pokemon.name)) { %>
            <form action="/pokemon/<%=pokemon.id%>/?_method=DELETE" method="POST" class='favbtn'>
            <input class='hidden' type="text" name='backlink' value='/pokemon/page/<%=pageid%>'>
            <button type="submit" name='name' value=<%=pokemon.name%>>❤️</button>
          </form>
          <%} else {%>
            <form action="/pokemon" method="POST" class='favbtn'>
              <input class='hidden' type="text" name='backlink' value='/pokemon/page/<%=pageid%>'>
              <input class='hidden' type="text" name='pokemonid' value=<%=pokemon.id%>>            
              <button type="submit" name='name' id='emptyheart' value=<%=pokemon.name%>>♡</button>
            </form>
          <%}%>

          

        </div>
        <div class='pokemonlink'>
          <a href="/pokemon/<%=pokemon.id%>">
              <img class='pokemonimg' src="<%=pokemon.img%>" alt="">
          </a>
        </div> 
      </div>
    <%});%>
  </div>


  <div id="pagenums">
    <%let last = pageid==1 ? 1:pageid-1; %>
    <%let next = pageid==8 ? 8:pageid+1;%>
    <a href="/page/<%=last%>" class="pagenum"><</a>
    <% for (let i=1; i <= 8; i++) {%>
      <%if (i != pageid) {%>
        <a href="/page/<%=i%>" class="pagenum"><%=i%></a>
      <%} else {%>
        <a href="/page/<%=i%>" class="pagenum active"><%=i%></a>
      <%}%>
    <%};%>
    <a href="/page/<%=next%>" class="pagenum">></a>
  </div>
</main>

<%- contentFor('css')%>
/css/pokemons.css
<%- contentFor('script')%>
