<div class="container">
<h1><%= pokemon.name %></h1>
         <div class="well">
         <p>
          ID: <%= pokemon.id %></br>
          Order: <%= pokemon.order %>
          </p>
          <p>
          Height: <%= pokemon.height %> Poke feet</br>
          Weight: <%= pokemon.weight %> Poke lbs
          </p>

          <p>
          Base Experience: <%= pokemon.base_experience %>
          </p>

        <a href="<%= "/" %>">
          Back to All Pokemon
        </a>
        </div>
</div>
