<h1>Show page</h1>
<p><img src="https://pokeres.bastionbot.org/images/pokemon/<%= deets.id %>.png" alt="image"></p>
<p>Name:<%= deets.name  %> </p>
<p>Height: <%= deets.height %></p>
<p>Weight: <%=deets.weight  %> </p>
<p>Moves: <%= deets.moves[0].move.name %>, <%= deets.moves[1].move.name %>, <%= deets.moves[2].move.name %></p>


