<div class="container">
	<div class="row">
		<div class="col s12">
			<h1>Species: <%= pokemon.name %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h2>Type: <%= pokemon.types[0].type.name %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h2>Ability: <%= pokemon.abilities[0].ability.name %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h2>Height: <%= (pokemon.height * .10) %>m</h2>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h2>Weight: <%= (pokemon.weight * .10) %>kg</h2>
			<h2><img src="<%= pokemon.sprites.front_default %>"></h2>
		</div>
	</div>
</div>







