<head>
    <link rel="stylesheet" href="./show.css">
</head>


<h1><%= pokemonDetail.name %></h1>
<img src="<%= pokemonDetail.sprites.front_default %>">
<p>
    type: <%= pokemonDetail.types[0].type.name %>
</p>

<p>
    Ability 1: <%= pokemonDetail.abilities[0].ability.name %>
</p>

<p>
    Ability 2: <%= pokemonDetail.abilities[1].ability.name %>
</p>




