<h1>About Your Pokemon</h1>
<hr>
<div class="container about">
	<div class="row name">
		<div class="col s6">
			<h1><%= pokemon.name.toUpperCase() %><span>#<%= pokemon.id %></span></h1>
		</div>
	</div>
	<div class="row">
		<div class="col s6 left">
			<img src="<%= pokemon.sprites.front_default %>">
		</div>
	</div>
	<div class="row data">
		<div class="col s6">
			<h2>TYPE: <%= pokemon.types[0].type.name.toUpperCase() %></h2>
		</div>
	</div>
	<div class="row data">
		<div class="col s6">
			<h2>ABILITY: <%= pokemon.abilities[0].ability.name.toUpperCase() %></h2>
		</div>
	</div>
	<div class="row data">
		<div class="col s6">
			<h2>HEIGHT: <%= (pokemon.height * .10) %>M</h2>
		</div>
	</div>
	<div class="row data">
		<div class="col s6">
			<h2>WEIGHT: <%= (pokemon.weight * .10) %>KG</h2>
		</div>
	</div>
</div>







