<div class="container">
    <h1 class="text-center">add'l info</h1>
    <div>
        <img src="<%- pokemon.data.sprites.front_default %>">
        <img src="<%- pokemon.data.sprites.back_default %>">
    </div>
    <h3 class="text-center"> ability: <%- pokemon.data.abilities[0].ability.name %> </h3>
    <h3 class="text-center"> type of pokemon: <%- pokemon.data.types[0].type.name %> </h3>
    <h3 class="text-center"> height: <%- pokemon.data.height %> </h3>
    <h3 class="text-center"> weight: <%- pokemon.data.weight %> </h3>
</div>