<div class="container">
    <h1><%= pokemon.name %> </h1>
    <img class='sprite' src="<%= pokemon.sprites.front_default %>">
      <h5>Type: </h5>
      <ul>
        <% pokemon.types.forEach(function(pokemon) { %>
          <li><%= pokemon.type.name %></li>
        <% }) %>
      </ul>

      <h5>Base Stats: </h5>
      <ul>
        <% pokemon.stats.forEach(function(pokemon) { %>
          <li><%= pokemon.stat.name %> : <%= pokemon.base_stat %></li>
        <% }) %>
      </ul>

      <h5>Moves: </h5>
      <ul>
        <% pokemon.moves.forEach(function(pokemon) { %>
          <li><%= pokemon.move.name %></li>
        <% }) %>
      </ul>
</div>
