<div class="container">
    <h1 class="text-center"><%= pokemon.name %></h1>
    <p class="text-center">
      <a href="/pokemon">Favorites</a>
    </p>
    <div class="well">
      <h3> Base Experience Level: <%=pokemon.base_experience%></h3>
      <h3> Height: <%=pokemon.height%></h3>
      <h3> Weight: <%=pokemon.weight%></h3>
    </div>
    <% pokemon.abilities.forEach(function(p) { %>
      <div class="well">
        <h2>Starter Move:</h2>
        <h3><%= p.ability.name %></h3>
      </div>
    <% }); %>
    <img src=" <%= pokemon.sprites.front_shiny%>"
  </div>
