<!-- images, abilites, stats, moves -->
   
<%- include('./partials/header.ejs')%><ul>
    <a href="/">Home</a>
    <h1><%=pokemon.name%></h1>
    <img alt ='<%=pokemon.name%>' src = '<%=pokemon.sprites.front_default%>'/>
    <h2>Height: </h2>
    <ul><%=pokemon.height%> </ul>
    <h2>Weight: </h2>
    <ul><%=pokemon.weight%> </ul>
    <h2>abilities:</h2>
    <% let num = pokemon.abilities %> 
    <% let num1 = pokemon.stats %> 
    <% let num2 = pokemon.moves %> 
     
    <ul>
        <%num.forEach(function(pokemon){%> 
        <ul><%=pokemon.ability.name %> </ul>
        <% }) %> 
    </ul>
    <h2>stats:</h2>
    <ul>
        <%num1.forEach(function(pokemon){%> 
        <ul><%=pokemon.stat.name%> </ul>
        <% }) %> 
    </ul>
    <h2>moves:</h2>
    <ul>
        <%num2.forEach(function(pokemon){%> 
        <ul><%=pokemon.move.name%> </ul>
        <% }) %> 
    </ul>
</ul>
<%- include('./partials/footer.ejs') %>