<body class="show-main">
<div class="favorites-link">
<a href="/pokemon/">Back to Favorites</a>
</div>
    <section class="card">
    <div id="img">
        <img src="<%=image%>">
    </div>
    <div class="name-display">
        <p class="name-attribute"><%= name.toUpperCase() %></p>
    </div>
    <div class="physical">
        <p class="physical-attribute">WEIGHT: <%= weight %> &nbsp       &nbsp HEIGHT: <%= height %> </p>    
    </div>

    <div class="combat">
        <p class="attribute">ATTACKS:</p> 
        <%let maxAttacks = 5%>
        <%for(let i = 0;i < maxAttacks;i++) {%>
        <p class="moves"><%=moves[i].move.name.toUpperCase()%></p>
        <%}%>
        <p class="attribute">ABILITIES:</p>
        <%for(let i = 0;i < abilities.length;i++) {%>
        <p class="moves"><%=abilities[i].ability.name.toUpperCase()%></p>
        <%}%>
    </div>
    </section>
</body>



