<h1><%=name%></h1>
<ul>
    <li><strong>Type:</strong> <%=type%></li>
    <li><strong>Hitpoints:</strong> <%=hp%></li>
    <li><strong>Attack:</strong> <%=attack%></li>
    <li><strong>Defense:</strong> <%=defense%></li>
    <li><strong>Special-Attack:</strong> <%=specialAttack%></li>
    <li><strong>Special-Defense:</strong> <%=specialDefense%></li>
    <li><strong>Speed:</strong> <%=speed%></li>
    <li><strong>Photo:</strong> </li><img src="<%=photo%>" alt="image of pokemon">

</ul>