<div id = "showBox">

    <div class="container">

        
        <h1 class="text-center"> 
                <img  class = "sprite" src = <%= info.sprites.front_default %> > 
                <%= info.name %> 
                <img  class = "sprite" src = <%= info.sprites.back_default %> > 
        </h1>

        <h3 class = "text-center"> <a href="/pokemon">Favorites </a> </h3>

        <p class="infoWeight">
                <%= info.types.name %> 

                Base Experience: <%= info.base_experience %>,

                Weight: <%= info.weight %> 
                <%= info.version_group_details %> 
        </p>

    <h4 id ="moves"> Abilties </h4>

    <p id = "text">  

        <% info.moves.forEach(function(move){%>
            <%= move.move.name %> 
        <% })%> 
    </p>
    

    <div class ="typeBox">
        <h4 id = "typeHeader"> Type </h4>
        <p id = "type">
        <% info.types.forEach(function(type) {%>
            <%= type.type.name %> 
        <%}) %>
        </p>
        <h4 id = "bioHeader"> About Pokemon </h4>
        <%= speciesInfo.flavor_text_entries[2].flavor_text %> 
    
    <div>

</div> 


<!-- favorites.forEach(function(pokemon) -->

</div>
