<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <img src=" <%= pokemon.sprites.front_default %>" >
    
    <title>Document</title>
</head>
<body>

<h1>Name: <%= pokemon.name %></h1>
<h2>Weight:<%=pokemon.weight%></h2>
<h2>Height: <%= pokemon.height %></h2>
<form action="/pokemon/<%= pokemon.id %>?_method=DELETE">
<input type= 'submit' name="_method" value= "DELETE">
    
</body>
</html>
