<h1>All about <%=pokemon.name%>!</h1>

 <img src=" <%= pokemon.sprites.front_default %>" >

<h3>Abilities</h3>
<p> <%= pokemon.abilities[0].ability.name %></p>
<p> <%= pokemon.abilities[1].ability.name %></p>

<h3>Moves</h3>
<p> <%= pokemon.moves[0].move.name %></p>
<p> <%= pokemon.moves[1].move.name %></p>

<h3>Height</h3>
<p> <%= ((pokemon.height)/10) %>m tall!</p>

<% for (let i = 0; i < pokemon.stats.length; i++){ %>
<h3> <%= pokemon.stats[i].stat.name %> </h3>
<p> <%= pokemon.stats[i].base_stat %></p>
<% } %>

<hr />

<a class='returnlink' href="/pokemon">Back to favorites</a>

<form method="POST" action="/pokemon/<%= id%>/?_method=DELETE ">
<input type="submit" value="delete"/>
</form>
