<h1>All about <%=pokemon.name%>!</h1>


 <img src=" <%= pokemon.sprites.front_default %>" >

<h2><%= pokemon.stats[5].stat.name %></h2>
<p> <%= pokemon.stats[5].base_stat %></p>

<h2><%= pokemon.stats[4].stat.name %></h2>
<p> <%= pokemon.stats[4].base_stat %></p>

<h3>Abilities</h3>
<p> <%= pokemon.abilities[0].ability.name %></p>
<p> <%= pokemon.abilities[1].ability.name %></p>

<h3>Moves</h3>
<p> <%= pokemon.moves[0].move.name %></p>
<p> <%= pokemon.moves[1].move.name %></p>

<h3>Height</h3>
<p> <%= ((pokemon.height)/10) %>m tall!</p>

<hr />

<a href="/pokemon">Back to favorites</a>


