<h1>Who's that</h1>
<div class='whosthat'>
<img class='pokemon' src="<%= pokemon.img%>" height=300px>
</div>
<h2>It's <%= pokemon.name%>!</h2>


<p>
  <%= pokemon.name%>
  is a <%= pokemon.type%>-type Pokémon!</p>
<p>It's <%= pokemon.height%> long and weighs <%= pokemon.weight%>!</p>
<p><%= pokemon.name%>'s national ID number is <%= pokemon.id%>.</p>
