<h2>This is <%= pokemonName %>'s stats page</h2>

<h3> <%= pokemonName %>'s Top Stats:</h3>
<p> Height: <%= pokemonHeight %></p>
<p> Weight: <%= pokemonWeight %></p>
<p> Ability 1: <%= pokemonAbil1 %></p>
<p> Ability 2: <%= pokemonAbil2 %></p>
<p> Basic Move: <%= pokemonMove %></p>