<div class="container">
	<h1><%=pokemonData.name%></h1>
	<div>
		<h2>Ability</h2>
	<%=pokemonData.abilities[0].ability.name%>
	<h3>Height</h3>
	<%=pokemonData.height%>
	<h3>Weight</h3>
	<%=pokemonData.weight%>
	<h3>Types</h3>
	<p class = "<%=pokemonData.types[0].type.name%>"><%=pokemonData.types[0].type.name%>
	<%if (pokemonData.types[1]) {%></p>
		<p class = "<%=pokemonData.types[1].type.name%>"><%=pokemonData.types[1].type.name%></p>
		<%}%>
	</div>
	<img src= "<%=pokemonData.sprites.front_default%>">

	<form action="./" method="GET">
		<button class="btn btn-primary" type="submit">Back to favs</button>
	</form>
</div>

