<a class="btn btn-outline-success" href="/">Home</a>
<h1><%= deets.name  %></h1>
<div class="fave">
<p><img src="https://pokeres.bastionbot.org/images/pokemon/<%= deets.id %>.png" alt="image"></p>
<div class="stats">
    <p>Height: <%= deets.height %></p>
    <p>Weight: <%=deets.weight  %> </p>
    <p>Moves: <%= deets.moves[0].move.name %>, <%= deets.moves[1].move.name %>, <%= deets.moves[2].move.name %></p>
</div>
</div>

