<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align">You've reached the show page for <%= pokemonName %></h1>
            </div>

            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Ability:</span>
                        <p><%= pokeData.abilities[0].ability.name %></p>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Height:</span>
                        <p><%= pokeData.height %></p>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Weight:</span>
                        <p><%= pokeData.weight %></p>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Moves:</span>
                        <p><%= pokeData.moves[0].move.name %></p>
                    </div>
                </div>
            </div>
    
            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Base Experience:</span>
                        <p><%= pokeData.base_experience %></p>
                    </div>
                </div>
            </div>
    
            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Images:
                                <img src="<%- pokeData.sprites.front_default %>">
                                <img src="<%= pokeData.sprites.back_default %>">
                        </span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>