<h1>POKEMON NAME: <%= pokemon.name %></h1>

<h2>Sprites: <img src="<%= pokemon.sprites.front_default %>"></h2>

<h2>Ability: <%= pokemon.abilities[0].ability.name %></h2>

<h2>Height: <%= pokemon.height %></h2>

<h2>Moves: <%= pokemon.moves[0].move.name %></h2>

<h2>Weight: <%= pokemon.weight %></h2>