<ul>
    <li><%= pokemon.name %></li>
    <img src="<%= pokemon.sprites.front_shiny %>"></li>  
    <li>Weight: <%= pokemon.weight %></li>
    <li>Height: <%= pokemon.height %></li>
    <li>Stats: <%= pokemon.stats.base_stat %></li>
</ul>