<div class="container">
  <div class="well">
    <h1><img src="<%- sprites.front_default %>"><%- pokemon %></h1>

    <h3>Stats:</h3>
    <% stats.forEach(function(stat){ %>
      <p class="stat">
        <%- stat.stat.name %>: <%- stat.base_stat %>
      </p>
    <% }); %>

    <h3>Height:</h3>
    <p class="stat">
      <%- height %>
    </p>

    <h3>Weight:</h3>
    <p class="stat">
      <%- weight %>
    </p>

  </div>
</div>
