<div class="page-header">
  <h2 class="text-center">More about: <em><%= pokemon.name %></em></h2> 
</div>
<div id="stats" class="container text-center col-sm-6 col-sm-offset-3">
  <img src="<%= pokemon.sprites.front_shiny %>" height=170>
    <h4>Height: <%= pokemon.height %>&nbsp;&nbsp;<span>&nbsp;Weight: <%= pokemon.weight %></span></h4>
    <h4>Abilities:</h4>
      <ul class="list-unstyled">
        <% for(var i = 0; i < pokemon.abilities.length; i++) { %>
         <li>
         <%= JSON.stringify(pokemon.abilities[i].ability.name).split('"').join('') %>
        </li>
        <% } %>
      </ul>   
</div>


