<h2><%= pokemon.name %></h2>
<img src="<%= pokemon.imagesrc %>"> <br>
Height: <%= pokemon.height %> <br>
Weight: <%= pokemon.weight %> <br>
Experience Needed to Defeat: <%= pokemon.experience %><br>
<a href="/pokemon/<%= pokemon.id %>" class="btn btn-danger delete-link">Delete</a>