<a href="/pokemon" class="btn btn-info">&larr; Back</a><a href="/" class="btn btn-primary">Home</a>
<h1><%= pokemon.forms[0].name %></h1>

<img src="<%=pokemon.sprites.front_default%>">
<br>

<h2>Height: <%= pokemon.height %></h2>

<h2>Weight: <%= pokemon.weight %></h2>

<h2>Base experience: <%= pokemon.base_experience %></h2>

<ul><h2>Stats: </h2>
<% for(var i=0; i<pokemon.stats.length; i++){%>
	<li><%=pokemon.stats[i].stat.name%>: <%=pokemon.stats[i].base_stat%></li>
<%}%>
</ul>

<ul><h2>Abilities: </h2>
<% for(var i=0; i<pokemon.abilities.length; i++){%>
	<li><%=pokemon.abilities[i].ability.name%></li>
<%}%>
</ul>

<ul><h2>Moves: </h2>
<% for(var i=0; i<pokemon.moves.length; i++){%>
	<li><%=pokemon.moves[i].move.name%></li>
<%}%>
</ul>

<% console.log(pokemon.types[0].type);%>


